@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
    margin-bottom: 20px;
    font-variant: small-caps;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.link:hover {
    color: rgb(170, 170, 170);
    transition-duration: 1s;
    text-decoration: underline;
}

section {
    padding: 10vh 0vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(55, 55, 55);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.246);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    padding: 8px;
    text-align: center;
}

footer > p {
    margin: 0px;
}